on: [push, pull_request]
name: CI
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.0', '8.1', '8.2', '8.3', '8.4', '8.5']

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        tools: "cs2pr"

    - name: "Cache dependencies installed with composer"
      uses: "actions/cache@v4"
      with:
        path: "~/.composer/cache"
        key: "php-${{ matrix.php-version }}-composer-locked-${{ hashFiles('composer.lock') }}"
        restore-keys: "php-${{ matrix.php-version }}-composer-locked-"

    - name: "Composer"
      run: "composer update --prefer-stable"

    - name: "PHPUnit"
      run: "php vendor/bin/phpunit"
